---
---
<section class="[@media(min-height:880px)]:h-screen [@media(min-width:1023px)]:h-screen flex items-center justify-center snap-none sm:snap-center bg-white p-5 [@media(min-width:1023px)]:p-20">
	<div class="grid lg:grid-cols-2 gap-20 mt-10 justify-items-center">
		<div class="flex flex-col justify-center font-[BalooBhaina] text-center lg:text-left px-5 lg:px-0">
			<h1 class="text-3xl [@media(min-width:385px)]:text-5xl">¿Tenés una cocina equipada?</h1>
			<p class="text-xl mt-5 [@media(min-width:385px)]:text-3xl">Generá ingresos <span class="text-[#7EC8A7]">hoy</span></p>
            <div class="mt-10">
			    <button class="cursor-pointer bg-[#7EC8A7] text-[#211C1C] font-[BalooBhaina] text-xl lg:text-3xl rounded-full px-20 pt-7 pb-5 transition hover:scale-110">Descargá la app</button>
		    </div>
		</div>
		<img src="../cocina-vecino.png" class="w-full">
	</div>
</section>
<section class="[@media(min-height:880px)]:h-screen [@media(min-width:1023px)]:h-screen flex items-center justify-center snap-none sm:snap-center bg-white [@media(min-width:1023px)]:p-20">
	<div class="grid lg:grid-cols-2 gap-20 mt-10 justify-items-center">
        <img src="../preparando-vecino.png" class="order-1 [@media(max-width:1023px)]:order-2 w-full">
		<div class="flex flex-col justify-center order-2 [@media(max-width:1023px)]:order-1 px-10 lg:px-0">
			<h1 class="font-[BalooBhaina] text-4xl [@media(min-width:1300px)]:text-6xl">Requisitos para app de vecino:</h1>
			<ul class="flex flex-col gap-20 mt-10">
                <li class="relative">
                    <span class="absolute w-6 h-6 bg-[#7EC8A7] left-0 top-0 rounded-full"></span>
                    <div class="z-10 relative flex gap-5">
                        <div class="ml-3 font-[BalooBhaina] text-4xl">1</div>
                        <div>
                            <p class="font-[AvenirNextLTProBold] text-xl">Subí tu carnet de manipulador de alimentos</p>
                            <p>Podés realizar el curso de forma online <span class="cursor-pointer text-[#211DFF] hover:underline">aquí (AGC)</span></p>
                        </div>
                    </div>
                </li>
                <li class="relative">
                    <span class="absolute w-6 h-6 bg-[#7EC8A7] left-0 top-0 rounded-full"></span>
                    <div class="z-10 relative flex gap-5">
                        <div class="ml-3 font-[BalooBhaina] text-4xl">2</div>
                        <div>
                            <p class="font-[AvenirNextLTProBold] text-xl">Subí fotos de tu cocina</p>
                            <p>Mostrá dónde manipularás los alimentos y generá confianza subiendo tus mejores fotos.</p>
                        </div>
                    </div>
                </li>
                <li class="relative">
                    <span class="absolute w-6 h-6 bg-[#7EC8A7] left-0 top-0 rounded-full"></span>
                    <div class="z-10 relative flex gap-5">
                        <div class="ml-3 font-[BalooBhaina] text-4xl">3</div>
                        <div>
                            <p class="font-[AvenirNextLTProBold] text-xl">¡Todo listo para comenzar!</p>
                            <p class="font-[AvenirNextLTPro] text-lg">Verificaremos tu información y podrás poner tus habilidades a disposición de tus vecinos.</p>
                        </div>
                    </div>
                </li>
            </ul>
		</div>	
	</div>
</section>
<section class="[@media(min-height:880px)]:h-screen [@media(min-width:1023px)]:h-screen flex items-center justify-center snap-none sm:snap-center bg-white [@media(min-width:1023px)]:p-20">
	<div class="grid lg:grid-cols-2 gap-20 mt-20 lg:mt-10 justify-items-center">
		<div class="flex flex-col justify-center px-5 lg:px-0">
			<h1 class="font-[BalooBhaina] text-4xl text-center lg:text-left [@media(min-width:480px)]:text-6xl">Costos transparentes</h1>
			<div class="relative text-xl mt-5">
				<span class="absolute w-5 h-5 bg-[#7EC8A7] left-0 top-0 rounded-full"></span>
				<p class="relative z-10 font-[AvenirNextLTPro]">
					Te cobramos un único fee anual de $3000 pesos para obtener el alta en nuestra red de vecinos.
				</p>
			</div>
             <div class="flex mt-10 justify-center lg:justify-start">
			    <button class="cursor-pointer bg-[#7EC8A7] text-[#211C1C] font-[BalooBhaina] text-xl lg:text-3xl rounded-full px-20 pt-7 pb-5 transition hover:scale-110">¡Verificate hoy!</button>
		    </div>
		</div>
		<img src="../mesa-vecino.png" class="w-full">
	</div>
</section>