---
---
<section class="sm:h-screen flex items-center justify-center snap-center bg-white p-5 lg:p-20">
	<div class="lg:mt-24">
		<h1 class="text-center text-5xl lg:text-6xl font-[BalooBhaina] mb-5 sm:mb-10">Pedí insumos saludables<br> personalizados</h1>
		<div class="bg-[#F0F0F0] rounded-[18px] max-w-[980px] mx-auto">
			<div class="grid grid-cols-1 sm:grid-cols-2 items-center">
				<div class="px-5 py-5 lg:p-10 gap-5 flex">
					<img src="/Joaquin.png" class="shrink-0 w-20 h-20">
					<div class="font-[AvenirNextLTPro]">
						<div class="flex">
							<img src="/star.png" class="shrink-0 w-3.5 h-3.5 lg:w-5.5 lg:h-5.5">
							<span class="text-xs lg:text-base">5(192)</span>
						</div>
						<div>
							<p class="font-[BalooBhaina] text-lg lg:text-3xl">Joaquin</p>
							<p class="font-[AvenirNextLTPro] text-xs lg:text-base">Tu vecino a 1.4km</p>
						</div>
					</div>
				</div>
				<div class="lg:text-right text-lg lg:text-4xl font-[BalooBhaina] px-5 lg:p-10">
					Preparando:
				</div>
			</div>
			
			<div class="flex sm:block py-5 sm:py-0">
				<div class="px-5 lg:px-10 w-full hidden sm:block">
					<div class="
					relative rounded-r-xl bg-[#AAAAAA] h-7 w-full 
					before:absolute before:left-0 before:h-7 before:w-1/2 before:top-0 before:bg-[#92e5c0] before:rounded-r-xl
					after:absolute after:left-0 after:h-7 after:w-1/2 after:top-0 after:bg-[#7EC8A7] after:rounded-r-xl after:animate-pulse">
					</div>
				</div>
				<div class="px-5 lg:px-10 block sm:hidden">
					<div class="
					relative rounded-b-xl bg-[#AAAAAA] w-7 h-full
					before:absolute before:left-0 before:w-7 before:h-1/2 before:top-0 before:bg-[#92e5c0] before:rounded-b-xl
					after:absolute after:left-0 after:w-7 after:h-1/2 after:top-0 after:bg-[#7EC8A7] after:rounded-b-xl after:animate-pulse">
					</div>
				</div>
				<div class="grid sm:grid-cols-4 p-5 lg:p-10 gap-3">
					<div class="font-[AvenirNextLTProBold] flex flex-wrap lg:flex-nowrap gap-3 lg:gap-5 justify-start sm:justify-center">
						<img src="/pollo.png" class="shrink-0 w-10 h-10">
						<div>
							<p class="text-xs lg:text-xl">Pechuga</p>
							<p class="text-xs lg:text-lg">(300gr)</p>
							<p class="font-[AvenirNextLTPro] text-xs lg:text-xl">A la plancha</p>
						</div>
					</div>
					<div class="font-[AvenirNextLTProBold] flex flex-wrap lg:flex-nowrap gap-3 lg:gap-5 justify-start sm:justify-center">
						<img src="/huevos.png" class="shrink-0 w-10 h-10">
						<div>
							<p class="text-xs lg:text-xl">Huevos Cocidos</p>
							<p class="text-xs lg:text-lg">(8und)</p>
							<p class="font-[AvenirNextLTPro] text-xs lg:text-xl">sin cáscara</p>
						</div>
					</div>
					<div class="font-[AvenirNextLTProBold] flex flex-wrap lg:flex-nowrap gap-3 lg:gap-5 justify-start sm:justify-center">
						<img src="/fresas.png" class="shrink-0 w-10 h-10">
						<div class="text-[#919191]">
							<p class="text-xs lg:text-xl">Fresas</p>
							<p class="text-xs lg:text-lg">(200gr)</p>
							<p class="font-[AvenirNextLTPro] text-xs lg:text-xl">Picadas</p>
						</div>
					</div>
					<div class="font-[AvenirNextLTProBold] flex flex-wrap lg:flex-nowrap gap-3 lg:gap-5 justify-start sm:justify-center">
						<img src="/palta.png" class="shrink-0 w-10 h-10">				
						<div class="text-[#919191]">
							<p class="text-xs lg:text-xl">Palta</p>
							<p class="text-xs lg:text-lg">(100gr)</p>
							<p class="font-[AvenirNextLTPro] text-xs lg:text-xl">En cuadritos</p>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<p class="text-center text-2xl lg:text-4xl font-[AvenirNextLTPro] m-5 lg:m-10">Preparados y entregados por <span class="font-[BalooBhaina]">vecinos de confianza</span></p>
		<div class="flex justify-center">
			<button class="bg-[#7EC8A7] text-[#211C1C] font-[BalooBhaina] text-2xl lg:text-4xl rounded-full px-20 pt-3 pb-2 lg:pt-7 lg:pb-5">Descargá la app</button>
		</div>
	</div>	
</section>
<section class="sm:h-screen flex items-center justify-center snap-center bg-white p-5 mt-10 sm:mt-0 sm:p-20">
	<div class="grid lg:grid-cols-2 gap-20 mt-10">
		<div class="flex flex-col justify-center">
			<h1 class="text-center lg:text-left font-[BalooBhaina] text-5xl">¿Quién es un vecino de confianza?</h1>
			<div class="relative text-xl">
				<span class="absolute w-5 h-5 bg-[#7EC8A7] left-0 top-0 rounded-full"></span>
				<p class="relative z-10 font-[AvenirNextLTPro]">
					<span class="font-[AvenirNextLTProBold]">Personas de tu barrio</span> que están dispuestas a <span class="font-[AvenirNextLTProBold]">comprar, personalizar tus insumos y llevarlos</span> a la puerta de tu casa.
				</p>
			</div>
		</div>
		<img src="/people.png">
	</div>
</section>
<section class="relative sm:h-screen flex items-center justify-center snap-center bg-white bg-cover p-5 mt-10 sm:mt-0 sm:p-20 min-h-96" style="background-image: url('/map.png')">
	<div class="absolute w-full h-full bg-[#7EC8A7] opacity-25"></div>
	<div class="grid">
		<div class="items-center justify-center z-10">
			<h1 class="font-[BalooBhaina] text-5xl text-center">¡Estamos en tu barrio!</h1>
			<div class="mt-5">
				<button class="cursor-pointer bg-[#7EC8A7] text-[#211C1C] font-[BalooBhaina] text-2xl lg:text-4xl rounded-full px-10 lg:px-20 pt-3 pb-2 lg:pt-7 lg:pb-5 transition hover:scale-110">Descargá la app</button>
			</div>
		</div>		
	</div>
</section>